<html>
  <head>
    <title>RasPi IR Relay Controller</title>
    <meta content="text/html; charset = UTF-8" http-equiv="content-type">
      	
    <script type = "application/javascript">
       // Shamelessly stolenborrowed from http://www.tutorialspoint.com/json/json_ajax_example.htm
       function loadJSON(data_file, callback){
          var http_request = new XMLHttpRequest();
          try{
             // Opera 8.0+, Firefox, Chrome, Safari
             http_request = new XMLHttpRequest();
          }catch (e){
             // Internet Explorer Browsers
             try{
                http_request = new ActiveXObject("Msxml2.XMLHTTP");
      				
             }catch (e) {
      			
                try{
                   http_request = new ActiveXObject("Microsoft.XMLHTTP");
                }catch (e){
                   // Something went wrong
                   alert("Your browser broke!");
                   return false;
                }
      				
             }
          }
      		
          http_request.onreadystatechange = function(){
      		
             if (http_request.readyState == 4  ){
                // Javascript function JSON.parse to parse JSON data
                var jsonObj = JSON.parse(http_request.responseText);
                callback(jsonObj);
             }
          }
      		
          http_request.open("GET", data_file, true);
          http_request.send();
       }
    </script>
    <style>
      .plate {width: 100%; display: block;}
      .relay {width: 14%; display: inline-block;}
      .relay_on {background-color: green;}
      .relay_off {background-color: red;}
    </style>
  </head>
  <body id=body>
  <script>
    var baseRelayObj = "<div id=baseid onclick=\"javascript:change_relay_state(\'baseurltoggle\', \'baseid\')\">relayname: basestate</div>";
    var baseRemoteButtonObj = "<div id=baseid onclick=\"javascript:press_remote_button(\'baseurlon\', \'baseid\')\">buttonname</div>";
    function relay_inserter(baseObj, url, relay_info, plate_name) {
      var splits = url.split('/');
      var plate_num = splits[splits.length-3];
      var relay_num = splits[splits.length-2];
      var plate_id = "plate_" + plate_num;
      var my_id = "plate_" + plate_num + "_relay_" + relay_num;
      baseObj = baseObj.replace(/baseid/g, my_id); 
      baseObj = baseObj.replace(/baseurl/g, url);
      baseObj = baseObj.replace(/basestate/g, relay_info['state']);
      baseObj = baseObj.replace(/relayname/g, relay_info['name']);
      var plate_obj = document.getElementById(plate_id);
      if(plate_obj == null) {
        document.getElementById("plates").innerHTML = document.getElementById("plates").innerHTML + "<div id=" + plate_id + " class=\"plate\"><span class=\"plate\">" + plate_name + "</span></div>";
      }
      var obj = document.getElementById(my_id);
      if(obj == null){
        document.getElementById(plate_id).innerHTML = document.getElementById(plate_id).innerHTML + baseObj;
      } else {
        obj.parentNode.replaceChild(baseObj, obj);
      }
      document.getElementById(my_id).className = "relay relay_" + relay_info['state'];
    }
    function remote_button_inserter(baseObj, button_url, button_name, remote_name) {
      var splits = button_url.split('/');
      var button_lirc_id = splits[splits.length-2]
      var remote_id = "remote_" + remote_name;
      var button_id = remote_id + "_button_" + button_lirc_id;
      baseObj = baseObj.replace(/baseid/g, button_id);
      baseObj = baseObj.replace(/baseurl/g, button_url);
      baseObj = baseObj.replace(/buttonname/g, button_name);
      var remote_obj = document.getElelmentById(remote_id);
      if(remote_obj = null) {
        document.getElementById("remotes").innerHTML = document.getElementById("remotes").innerHTML + "<div id=" + remote_id + "<class=\"remote\"><span class=\"remote\">" + remote_name + "</span></class>";
      }
      var obj = document.getElementById(button_id);
      if(obj == null){
        document.getElementById(remote_id).innerHTML = document.getElementById(remoete_id).innerHTML + baseObj;
      } else {
        obj.parentNode.replaceChild(baseObj, obj)
      }
      document.getElementById(button_id).className = "remote_button";
    }
    function change_relay_state(url, my_id) {
      loadJSON(url, function(jsonObj){
        document.getElementById(my_id).className = "relay relay_" + jsonObj["state"];
        document.getElementById(my_id).textContent = jsonObj['name'] + ": " + jsonObj["state"];
      });
    }

    function press_remote_button(url, my_id) {
      loadJSON(url, function(json){});
    }

    loadJSON('/api/v1/plate', function(jsonObj){
      for(var key in jsonObj) {
        loadJSON(key, function(myobj) {
          var plate_name = myobj['name'];
          for(new_key in myobj) {
            if(new_key != 'name'){
              relay_inserter(baseRelayObj, new_key, myobj[new_key], plate_name);
            }
          }
        });
      }
    });
    loadJSON('/api/v1/ir/remote', function(jsonObj){
      for(var key in jsonObj) {
        loadJSON(key, function(remotedef) {
          remote_name = jsonObj[key];
          for(button in remotedef){
            remote_button_inserter(baseRemoteButtonObj, button, remotedef['button'], remote_name);
          }
        });
      }
    });
  </script>
  <h1>Relay Controls</h1>
  <div id="plates"></div>
  <div id="remotes"></div>
  </body>
</html>
